    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    body {
        background-color: rgb(61, 11, 14);
        color: azure;
    }
    
    header nav {
        background-color: rgb(38, 5, 5);
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
    header nav h1 {
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: rgb(226, 223, 223);
    }
    
    header nav form {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
    }
    
    form input[type="text"],
    form button[type="submit"] {
        border: none;
        font-size: 16px;
        padding: 10px;
        border-radius: 4px;
    }
    
    form input[type="text"] {
        flex-grow: 1;
        width: 200px;
    }
    
    form button[type="submit"] {
        background-color: rgb(129, 54, 27);
        color: white;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
    }
    
    form button[type="submit"]:hover,
    .recipe button:hover,
    .recipe-close-Btn:hover {
        background-color: red;
    }
    /* Main Section */
    
    .recipe-container {
        text-align: center;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 30px;
        width: 100%;
        margin: 10px auto;
        padding: 100px;
        place-items: center;
    }
    /* Style for each recipe */
    
    .recipe {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 15px;
        margin: 10px;
        width: 300px;
        border-radius: 10px;
        color: #fff;
        text-align: center;
    }
    
    .recipe {
        background-color: rgba(255, 255, 255, 0.1);
        display: flex;
        flex-direction: column;
        color: #fff;
        border-radius: 6px;
        box-shadow: 0 5px 10px rgba(78, 73, 73, 0.1), -5px -5px 10px rgba(34, 34, 0.5);
        cursor: pointer;
        max-width: 350 px;
        transition: transform 0.3s ease-in-out;
    }
    
    .recipe:hover {
        transform: scale(1.02);
    }
    
    .recipe img {
        height: 300px;
    }
    
    .recipe h3 {
        font-size: 24px;
        margin-block: 5px;
    }
    
    .recipe p {
        font-size: 20px;
        color: rgb(173, 164, 164);
        margin: 5px 0;
    }
    
    .recipe span {
        font-weight: 600;
    }
    
    .recipe img {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    
    .recipe button {
        font-size: 15px;
        font-weight: 600;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        margin: 18px auto;
        color: rgb(244, 242, 242);
        background-color: rgb(237, 18, 18);
        border: auto;
    }
    /*Recipe Details*/
    
    .recipe-details {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        background-color: rgb(172, 28, 45);
        border-radius: 12px;
        width: 40%;
        height: 60%;
        font-size: 20px;
        transition: all 0.5s ease-in-out;
        overflow-y: scroll;
    }
    
    .recipe-details-content {
        padding: 30px;
    }
    
    .recipeName {
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
        margin-bottom: 10px;
    }
    
    .ingredientlist li {
        margin-top: 10px;
        margin-left: -20px;
    }
    
    .recipeInstructions p {
        line-height: 30px;
        white-space: pre-line;
    }
    
    .recipeName,
    .ingredientlist,
    .recipeInstructions {
        margin-bottom: 20px;
    }
    
    .recipe-close-Btn {
        border: none;
        font-size: 16px;
        padding: 10px;
        border-radius: 4px;
        background-color: red;
        color: #fff;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* Addding scrollbar to recipe details popup*/
    
    .recipe-details ::-webkit-scrollbar {
        width: 10px;
    }
    
    .recipe-details ::-webkit-scrollbar-thumb {
        background: whitesmoke;
        border-radius: 19px;
        -webkit-perspective-radius: 16px;
    }
    
    body ::-webkit-scrollbar {
        width: 16px;
    }
    
    body ::-webkit-scrollbar-thumb {
        background: ghostwhite;
    }
    
    body::-webkit-scrollbar-track {
        background: #8f7e7e;
    }
    /* Responsive layout */
    
    @media screen and (max-width: 600px) {
        header nav {
            flex-direction: column;
        }
        header nav form {
            width: 100%;
            justify-content: center;
        }
        .recipe {
            width: 90%;
        }
    }